!DOCTYPE html>
<html>
  <head>
    <title>Virtual Closet: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Virtual Closet</h1></a>
<div itemscope itemtype="http://schema.org/Product">
  <dl>
      <dt><span itemprop="name">Name</span></dt>
      <dd><a href="/list-articles/<%=item.article%>"><%=item.article%></a></dd>
      <dt><span itemprop="description">Description</span></dt>
      <dd><%=item.description%></dd>
      <dt><span itemprop="brand">Brand</span></dt>
      <dd><%=item.brand%></dd>
      <dt><<span itemprop="color">red</span></dt>
      <dd><%=item.color%></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
</div>    

<div class="control">
      <h2>Update article</h2>
      <form method="put" action="/list-articles/<%=item._id%>">
        <label>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label>Article: 
          <select name="item[article]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.article) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
