<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Closet: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Virtual Closet</h1></a>
    <dl>
      <dt>User</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Users</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/users/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No articles have been added to this closet.
        <% } %>
      </dd>
    </dl>

<li>
    <div class="title"><a rel="article" href="article.html">Color Block V Dress</a></div>
  	<div class="description">Long Blue Ivory and Red Color Block V-neck Dress</div>
  	<div class="designer">Andree</div>
  	<div class="color">blue</div>
  	<div class="inventory">item2</div>
  </li>    

<div class="control">
      <h2>Add a new article</h2>
      <form id="create-article" method="post" action="/list-articles/">
        <input type="hidden" name="item[article]" value="<%=item._id%>">
        <!-- The line above links the article to be created to this user's closet. -->
        <label>Article name: 
          <input name="item[name]" type="text" required
                   placeholder="Tiered Blouse">
        </label>
        <label>Article image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="http://www.target.com/p/merona-women-s-short-sleeve-tiered-top-assorted-colors/-/A-14341390?ref=tgt_adv_XSB10001&AFID=shopzilla_df&LNM=|14337508&CPNG=Women&ci_src=10043468&ci_sku=14337508&szredirectid=13662371678311474444610060302008005">
        </label>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
