<!DOCTYPE html>
<html>
 <head>
  <title>Trunk: <%=item.name%></title>
  <link rel="stylesheet" href="/style.css">
 </head>
<body>

<a href="http://sils-webinfo.iriscouch.com/_utils/database.html?lwturpin"><h1>User Information</h1></a>

<dl id="user">
    <div itemscope itemtype="http://schema.org/Person">
      <dt><span itemprop="additionalName">User Name</span></dt>
        <dd><%=item.username%></dd>
      <dt><span itemprop="givenName">Name</span></dt>
        <dd><%=item.name%></dd>
      <dt><span itemprop="email">Email</span></dt>
        <dd><%=item.email%></dd>    
    </div>    
</dl>

<div class="control">
<h2>Update User Information</h2>
    <form method="post" action="/users/<%=item._id%>">
            <input type="hidden" name="_method" value="put">
        <label>Name: <input name="item[name]" value="<%=item.name%>" type="text"</label>
        <label>Email: <input name="item[email]" value="<%=item.email%>" type="text"></label>
 	    <label>Username: <input name="item[username]" value="<%=item.username%>" type="text"></label>
	    <label>Password: <input name="item[password]" value="<%=item.password%>" type="text"></label>
	    <button>Update</button>
    </form>
</div>

<dl id="user-articles">
    <dt>Articles in My Closet</dt>
    <dd>
        <% if (related_items.length > 0) { %>
        <ul>
        <% related_items.forEach(function(related_item) { %>
        <li>
            <a href="/user/<%=item._id%>">
                <%=item.name%>
            </a>
        </li>
        <% }); %>
        </ul>
        <% } else { %>
        No articles have been added to this closet.
        <% } %>
    </dd>
</dl>

<h2>Remove an Article from My Closet</h2>
      <form method="post" action="/user/closet/:rev">
            <input type="hidden" name="_method" value="put">
            <label>Name:<input name="name" type="text"></label>
            <button>Remove</button>
      </form>        

<h2>Update or Add a New Article to My Closet</h2>
<p>To add or update an article, use the <a href="/allitems/">global inventory</a> to select an individual article.</p>

<a href="/">Home</a>

</body>
</html>
